* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.chatroom-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "left chatroom right"
        "left chatroom right"
        "left chatroom right";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    border-color: #282828;
    border-width: 1px;
    border-radius: 10px;
}

.header {
    color: var(--primary);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.title, .condition {
    color: var(--primary);
    flex: 1;
    text-align: center;
    border-color: #282828;
    border-width: 1px;
    border-radius: 10px;
    margin: 0 5px;
    padding: 10px;
}

.sidebar {
    color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.user {
    color: var(--primary);
    flex: 1;
    border-color: #282828;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chatroom {
    color: var(--primary);
    grid-area: chatroom;
    border-color: #282828;
    border-width: 1px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.flex-item {
    flex: 1;
    border-radius: 10px;
    border-color: #BEBEBE;
    box-shadow:2px 2px 5px 0px var(--border-color);
    margin: 0;
}

.characterImageContainer {
    display: flex;
    justify-content: center;  /* 가로로 가운데 정렬 */
    align-items: center;  /* 세로로 가운데 정렬 */
    width: 200px; /* 컨테이너 너비 설정 */
    height: 200px; /* 컨테이너 높이 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; /* 필요 시 절대 위치 요소들을 포함할 수 있도록 설정 */
}

.characterImage {
    width: 200px;  /* 원하는 너비로 조정 */
    height: auto;  /* 높이를 자동으로 조정하여 비율 유지 */
    display: block;  /* 이미지가 블록 요소로 표시되도록 설정 */
    margin: 0 auto;  /* 가운데 정렬 */
    object-fit: cover;
/*    border-radius: 80%; *//* 이미지 자체를 둥글게 만듦 */
}
.nameLevel img {
    width: 18px; /* 이미지 크기를 조정 */
    height: 18px; /* 이미지 크기를 조정 */
}

.nameLevel{
    font-size: 1.1em;
    font-weight: 900;
}

.class {
    font-size: 1.1em;
    font-weight: 900;
}

.power{
    font-weight: 700;
    font-size: 1.3em;
}