/*꾸미기*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    /*글자 그냥 대충 만들어본거임.*/
    margin-bottom: .5rem;
    font-weight: 900;
    line-height: 1.2;
    font-size: 1.5rem;
}



/*.boss-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-card {
    margin-top: -90px; *//* 원하는 margin-top 값으로 변경 *//*
    margin-bottom: 20px; *//* 원하는 margin-bottom 값으로 변경 *//*
    max-width: 1200px; *//* 원하는 너비 값으로 변경 *//*
    height: 230px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 2em;
}

.boss-card {
    margin-bottom: 100px; *//* 원하는 margin-bottom 값으로 변경 *//*
    max-width: 1200px; *//* 원하는 너비 값으로 변경 *//*
    max-height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 2em;
    height: 300px; *//*변경 ㄱ*//*
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 1.25rem;
    height: 260px
}

.boss-card img {
    max-width: 100%;
    height: auto;
}*/
/*

.text-section {
    flex: 1;
    margin-right: 20px;
}
*/