body{
    height: 100vh;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    display: flex;
    height: 100%;
}

.left{
    width: 15%;
    height: 100%;
    background-color: lightblue;
}

.center{
    width: 70%;
    height: 100%;
    border-right: 1px solid;
    border-left: 1px solid;
}

.container header{
    height: 20%;
    background-color: lightgray;
}

.partners{
    height: 33.3%;
    background-color: black;
    color: white;
}

.nav-bar{
    height: 33.4%;
    border: 1px solid;
    background-color: #0B0B3B;
}

.right{
    width: 15%;
    height: 100%;
    background-color: lightblue;
}

.container footer{
    height: 20%;
    background-color: lightgray;
}








.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.center{
    display: block;
}

.search-section {
    text-align: center;
}

.search-section input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
}

.search-section input[type="submit"] {
    padding: 10px 20px;
}

.search-section, .boss-section {
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.search-section {
    text-align: center;
}

.search-section input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
}

.search-section input[type="submit"] {
    padding: 10px 20px;
}

.boss-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boss-card {
    width: 100px;
    text-align: center;
    margin: 10px;
    font-size: 0.9em;
}

.boss-card img {
    max-width: 100%;
    height: auto;
}