@media only screen and (max-width: 430px){
    .divCard .divSignInContainer{
        width: 95%;
        padding: 20px; 32px;
    }
}

.divSignInContainer{
    display: inline-block;
    text-align: center;
    background-color: lightblue;
    border-radius: 10px;
    width: 60%;
    padding:50px 80px;
    margin-bottom: 50px;
}

.inputUserPw{
    margin-top: 10px;
}

.inputBox{
    width: 100%;
}

.buttons{
    width: 100%;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

#btnSignIn{
     background-color: #0036ce;
     color: white;
}

#btnSignUp{
     background-color: white;
     color: #0036ce;
}




