@font-face {
    font-family: 'MaplestoryFont';
    src: url('/fonts/MaplestoryBold.ttf') format('truetype'),
         url('/fonts/MaplestoryLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MaplestoryFont', sans-serif;
    background-color: #a3cca2; /* 배경색 */
}