<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MapleStory Character Info</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/character.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
<div class = "container">
    <div class = "left"></div>

    <div class = "center">
        <header>
            <div class = "partners">
                메칭 파트너스 응원
            </div>
            <div class = "logo" style = "height: 35%; color: white;">
                <a href="/" style="text-decoration: none; color: inherit;">&nbsp;&nbsp;메칭</a>
            </div>

            <nav class = "navbar" style=" color=white;">
                <div class="nav-item">
                    사이트 가이드
                </div>
            </nav>
        </header>

        <div style = "width: 100%; height: 10%; background-color: #CAC4D0;"></div>
        <div style = "width: 100%; height: 52%;">
            <div class="search-card card">
                <div class="container">
                    <div class="flex-container">
                        <!--캐릭터 정보는 평균 15분 내외의 딜레이가 있습니다.
                        <br />23.12.21 이후 접속한 계정의 캐릭터만 확인이 가능합니다.<br />-->
                        <div class="flex-item">
                            <img id="characterImage" src="" alt="Character Image" /><br />
                            정보 추가
                        </div>
                        <div class="flex-item">
                            <span id="worldName"></span> <span id="characterGuildName"></span> 유니온<span id="unionLevel"></span>
                            <br />Lv.<span id="characterLevel"></span>(<span id="characterExp"></span>%)
                            <span id="characterName"></span>
                             <span id="characterClass"></span>(<span id="minutes"></span>)
                            <br />[전투력 <span id="power"></span>]
                            <br />보공<span id="bossDamage"></span>%, 방무<span id="bangMoo"></span>%
                            <br />지속시간|버프:<span id="buffDuration"></span>%, 소환수:<span id="minions"></span>%
                            <br />  쿨감 | <span id="cooldownNum"></span>초,<span id="cooldownPer"></span>%(미적용<span id="cooldownNow"></span>%)
                            <br />  포스 |아케인:<span id="arcaneForce"></span>,어센틱:<span id="authenticForce"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boss-card card">
                <div class="card-body">
                    <h5 >보스 매칭 참가</h5><br />
                    <div id="bossContainer"></div> <!--보스 매칭 현황 컨테이너-->
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <p style="font-size:12px; text-align: center;">
                    Copyright 2024, 스키니아@눈연유, 스키니아@메칭개발자 all rights reserved. MapleMatching is not associated with NEXON Korea.
                </p>
            </div>
        </footer>
    </div>
    <div class = "right"></div>
</div>

<div class="modal fade" id="bossModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img id="modalBossImage" src="" alt="Boss Icon" class="img-fluid">
                <div>
                    <h5 id="modalBossTitle" class="modal-title"></h5>
                    매칭인원 / 파티수
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="characterInfo"></div> <!-- 캐릭터 정보 표시할 div -->
                <!-- 모달에 추가될 flex-container -->
                <div id="modalFlexContainer" class="flex-container">
                    <!-- 여기 내용은 JavaScript로 동적으로 추가됨 -->
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-btn">
                        <span><button type="button" id="btnGo" class="btn btn-dark">파티 참여</button></span>
                        <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                </div>
                <div class="container-btn">
                    <span><button type="button" id="btnMake" class="btn btn-dark">파티 생성</button></span>
                    <div id="loadingSpinnerBtnMake" class="spinner-border text-primary" role="status" style="display: none;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/partyBtn.js"></script>
<script src = "../static/character.js"></script>
<script src="../static/bossIcon.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>