<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캐릭터 검색</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/character.css">
</head>
<body class="dark-mode">
<div class="bg-background text-foreground px-4">
    <div class="max-w-screen-lg mx-auto px-8">
        <div class="partners">
            <a href="https://partners.maplestory.nexon.com/developers">메칭 파트너스 응원</a>
        </div>
        <header class="header flex items-center justify-between p-4">
            <div class="flex items-center logo">
                <img aria-hidden="true" alt="icon" src="../static/image/site/icon.png" class="icon mr-2" />
                <a href="/" style="text-decoration: none; color: inherit;">&nbsp;메칭</a>
            </div>
            <div class="flex items-center space-x-4">
                <button id="btnLightMode" class="p-2 rounded hover:bg-blue-600">🔆</button>
                <button id="btnDarkMode" class="p-2 rounded hover:bg-blue-600">🌙</button>
                <button class="p-2 rounded hover:bg-blue-600">📒</button>
                <button class="p-2 rounded hover:bg-blue-600">💰</button>
            </div>
        </header>

        <nav class="text-white p-4 navbar">
            <ul class="flex space-x-4">
                <li><a href="#" class="hover:underline nav-item">사이트가이드</a></li>
                <li><a href="#" class="hover:underline nav-item">공지사항</a></li>
                <li><a href="info" class="hover:underline nav-item">dev캐릭터정보</a></li>
                <li><a href="chatroom" class="hover:underline nav-item">dev채팅방</a></li>
            </ul>
        </nav>
        <main class="p-4">
            <div class="search-card card">
                <div class="text-white p-3 navbar card-title">
                    매칭 프로필
                    <div class="instructions">
                        - 캐릭터 정보는 평균 15분 내외의 딜레이가 있습니다.<br />
                        - 23.12.21 이후 접속한 계정의 캐릭터만 확인이 가능합니다.
                    </div>
                </div>
                <div class="container">
                    <div class="flex-container">
                        <div class="flex-item">
                            <div class="nameLevel">
                                <img id="serverIcon" src="" alt="Icon" class="nameLevel img" />
                                <span id="worldName"></span>
                                <span id="characterGuildName"></span>
                                유니온<span id="unionLevel"></span><br />
                            </div>
                            <div class="nameLevel">
                                Lv.<span id="characterLevel"></span>
                                <span id="characterName"></span>
                                <small>(<span id="characterExp"></span>%)</small>
                            </div>
                            <div id="characterImageContainer">
                                <img id="characterImage" alt="Character Image" class="characterImage"/>
                            </div>
                            <div class="class">
                                <span id="characterClass"></span>
                                <small>(<span id="minutes"></span>)</small>
                            </div>
                            <div class="power">
                                전투력 <span id="power"></span>
                            </div>
                            <div class="badge-container">
                                <img id="mainStatBadge" src="" alt="badge" class="badges" />
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="stats-container">
                                <p class="mb-2" style="font-weight: 800; color:#8A8A8A;">STAT</p>
                                <div class="stat-item">
                                    <span>보스 몬스터 데미지</span><span id="bossDamage"></span>%
                                </div>
                                <div class="stat-item">
                                    <span>스탯 방어율 무시</span><span id="bangMoo"></span>%
                                </div>
                                <div class="stat-item">
                                    <span>지속시간</span><span>버프</span><span id="buffDuration"></span>%<span>소환수</span><span id="minions"></span>%
                                </div>
                                <div class="stat-item">
                                    <span>쿨타임 감소</span>
                                    <span id="cooldownNum"></span>초
                                    <span id="cooldownPer"></span>%
                                    (미적용<span id="cooldownNow"></span>%)
                                </div>
                                <div class="stat-item">
                                    <span>포스</span><span>아케인</span><span id="arcaneForce"></span><span>어센틱</span><span id="authenticForce"></span>
                                </div>
                            </div>
                            <div class="stats-container">
                                <p class="mb-2" style="font-weight: 800; color:#8A8A8A;">HEXA</p>
                                <div class="hexaSkill">
                                    <div id="hexaCoreContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boss-card card">
                <div class="card-body">
                    <div class="text-white p-3 navbar card-title">
                        보스매칭 참가
                        <div class="instructions">
                            - 보스 아이콘을 클릭해 매칭에 참가하거나 필요한 파티원을 구해보세요! <br />
                            - 반드시 인게임 내에서 대화를 통해 해당 파티원 본인이 맞는지 확인하세요  <br />
                            - 타인의 캐릭터를 사칭할 경우 이에 따른 모든 법적 책임과 피해 책임은 사칭한 본인에게 있습니다.
                        </div>
                    </div>
                    <div id="bossContainer"></div> <!--보스 매칭 현황 컨테이너-->
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-content">
                <div style="font-size:12px; text-align: center;">
                    Data based on NEXON Open API.<br />
                    Copyright 2024, 스키니아@눈연유, 스키니아@메칭개발자 all rights reserved. This service is not associated with NEXON
                    Korea.<br /><br />
                    본 사이트 내에서 발생하는 이용자 간의 모든 분쟁 및 문제에 대해 사이트 개발자는 어떠한 책임도 지지 않습니다.<br />
                    이용자 간의 모든 행위와 관련된 책임은 해당 이용자들에게 있으며, 본 사이트는 이에 대한 법적 책임을 지지 않습니다.<br />
                    이 페이지에는 메이플스토리가 제공한 메이플스토리 서체가 적용되어 있습니다.
                </div>
            </div>
        </footer>
    </div>
</div>
<div class="modal fade" id="bossModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img id="modalBossImage" src="" alt="Boss Icon" class="img-fluid">
                <div>
                    <h5 id="modalBossTitle" class="modal-title"></h5>
                    매칭인원 / 파티수
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="characterInfo"></div> <!-- 캐릭터 정보 표시할 div -->
                <!-- 모달에 추가될 flex-container -->
                <div id="modalFlexContainer" class="flex-container">
                    <!-- 여기 내용은 JavaScript로 동적으로 추가됨 -->
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-btn">
                    <span><button type="button" id="btnGo" class="btn btn-dark">매칭 참여</button></span>
                    <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display: none;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="container-btn">
                    <span><button type="button" id="btnMake" class="btn btn-dark">파티 생성</button></span>
                    <div id="loadingSpinnerBtnMake" class="spinner-border text-primary" role="status" style="display: none;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/darkmode.js"></script>
<script src="../static/js/partyBtn.js"></script>
<script src = "../static/js/character.js"></script>
<script src="../static/js/bossIcon.js"></script>
<script src="../static/js/hexaIcon.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>