<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/chatting.css">
</head>
<body class="dark-mode">
<div class="bg-background text-foreground px-4">
    <div class="max-w-screen-lg mx-auto px-8">
        <div class="partners">
            메칭 파트너스 응원
        </div>
        <header class="header flex items-center justify-between p-4">
            <div class="flex items-center logo">
                <img aria-hidden="true" alt="icon" src="../static/fonts/icon.png" class="icon mr-2" />
                <a href="/" style="text-decoration: none; color: inherit;">&nbsp;메칭</a>
            </div>
            <div class="flex items-center space-x-4">
                <button id="btnLightMode" class="p-2 rounded hover:bg-blue-600">🔆</button>
                <button id="btnDarkMode" class="p-2 rounded hover:bg-blue-600">🌙</button>
                <button class="p-2 rounded hover:bg-blue-600">📒</button>
                <button class="p-2 rounded hover:bg-blue-600">💰</button>
            </div>
        </header>

        <nav class="text-white p-4 navbar">
            <ul class="flex space-x-4">
                <li><a href="#" class="hover:underline nav-item">사이트가이드</a></li>
                <li><a href="#" class="hover:underline nav-item">공지사항</a></li>
                <li><a href="info" class="hover:underline nav-item">dev캐릭터정보</a></li>
                <li><a href="chatroom" class="hover:underline nav-item">dev채팅방</a></li>
            </ul>
        </nav>
        <main class="p-4 chatroom-container">
            <div class="header">
                <div class="title">채팅방 제목</div>
                <div class="condition">조건</div>
            </div>
            <div class="sidebar left">
                <div class="user">유저1</div>
                <div class="user">유저3</div>
                <div class="user">유저5</div>
            </div>
            <div class="chatroom">채팅방</div>
            <div class="sidebar right">
                <div class="user">유저2</div>
                <div class="user">유저4</div>
                <div class="user">유저6</div>
            </div>
        </main>
        <footer>
            <div class="footer-content">
                <div style="font-size:12px; text-align: center;">
                    Copyright 2024, 스키니아@눈연유, 스키니아@메칭개발자 all rights reserved. MapleMatching is not associated with NEXON
                    Korea.
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="../static/js/darkmode.js"></script>
<script src="../static/js/chatting.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>