<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메칭 메인</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>
<body>
<div class="bg-background text-foreground px-4">
    <div class="max-w-screen-lg mx-auto px-8">
        <header class="flex items-center justify-between p-4 bg-zinc-800 text-white">
            <!--            <div class = "partners">
                            메칭 파트너스 응원
                        </div>-->
            <div class="flex items-center logo">
                <!--메인아이콘<img aria-hidden="true" alt="icon" src="https://openui.fly.dev/openui/24x24.svg?text=👕" class="mr-2" />-->
                <a href="/" style="text-decoration: none; color: inherit;">&nbsp;&nbsp;메칭</a>
            </div>
            <div class="flex items-center space-x-4">
                <button class="p-2 rounded hover:bg-zinc-700">📊</button>
                <button class="p-2 rounded hover:bg-zinc-700">🔍</button>
                <button class="p-2 rounded hover:bg-zinc-700">💰</button>
            </div>
        </header>

        <nav class="bg-zinc-700 text-white p-4 navbar">
            <ul class="flex space-x-4">
                <li><a href="#" class="hover:underline nav-item">사이트가이드</a></li>
                <li><a href="#" class="hover:underline nav-item">공지사항</a></li>
                <li><a href="info" class="hover:underline nav-item">dev캐릭터정보</a></li>
                <li><a href="chatroom" class="hover:underline nav-item">dev채팅방</a></li>
            </ul>
        </nav>
        <main class="p-4">
            <div class="search-card card">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div class="flex-container">
                        <!--캐릭터 정보는 평균 15분 내외의 딜레이가 있습니다.
                        <br />23.12.21 이후 접속한 계정의 캐릭터만 확인이 가능합니다.<br />-->
                        <div class="flex-item">
                            <h5 class="card-title" style="margin-left: 5rem">
                                내 캐릭터의<br>실시간 전투력으로<br>함께할 파티에 참여하세요!
                            </h5>
                        </div>
                        <div class="flex-item">
                            <div class="search-section d-flex align-items-center">
                                <div>
                                    <input type="text" id="characterName" name="characterName" placeholder="캐릭터명을 입력하세요"
                                           required>
                                </div>
                                <div>
                                    <button id="btnSearch" type="submit" class="btn btn-dark">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boss-card card">
                <div class="card-body">
                    <h5>보스 매칭 현황</h5><br/>
                    <div id="bossContainer"></div> <!--보스 매칭 현황 컨테이너-->
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-content">
                <p style="font-size:12px; text-align: center;">
                    Copyright 2024, 스키니아@눈연유, 스키니아@메칭개발자 all rights reserved. MapleMatching is not associated with NEXON Korea.
                </p>
            </div>
        </footer>
    </div>
</div>
<script src="../static/home.js"></script>
<script src="../static/bossIcon.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>